.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}
.stars:not(:checked) > input {
  display:none;
}
.stars:not(:checked) > label {
  width: 20px;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:18px;
  color:#ccc;
}
.stars:not(:checked) > label:before {
  content: '★ ';
}
.stars > input:checked ~ label {
  color: #ffc700;    
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
  color: #c59b08;
}